#calculator {
  width: 240px;
  margin: 50px auto;
}

#display {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
}

.calculatorRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.calculatorRow button {
  flex: 1;
  margin: 2px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}
